<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Tag</label>
		<input type="text" class="form-control" data-name="name" {{{setValue name}}}>
	</div>
</div>
