<div class="dropdown dropdown-options">
	<button class="btn btn-sm btn-primary dropdown-toggle icon-only" type="button" data-toggle="dropdown">
		<span class="fas fa-cog"></span>
	</button>
	<div class="dropdown-menu dropdown-menu-right">
		<button type="button" class="dropdown-item btn-move-up">
			<span class="fas fa-arrow-up"></span>Move Up
		</button>
		<button type="button" class="dropdown-item btn-move-down">
			<span class="fas fa-arrow-down"></span>Move Down
		</button>
		<button type="button" class="dropdown-item btn-delete">
			<span class="fas fa-trash"></span>Delete
		</button>
	</div>
</div>
