<ul class="nav nav-pills" role="tablist">
	<li class="nav-item">
		<a class="nav-link {{#if laboratory}}active{{/if}}" href="#/laboratory">
			<span class="fas fa-flask"></span><span class="nav-link-text">Laboratory</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{#if vault}}active{{/if}}" href="#/vault">
			<span class="fas fa-dragon"></span><span class="nav-link-text">Vault</span>
		</a>
	</li>
</ul>
