<header class="app-header fixed-top">
	<div class="app-header-heading">
		<div class="app-container">
			<h1>
				<img src="images/icon-giffyglyph.png">
				<a href="http://www.giffyglyph.com/monstermaker/app" target="_blank">
					<span>Giffyglyph's</span>
					<span>Monster Maker</span>
				</a>
			</h1>
			<a href="https://www.reddit.com/r/darkerdungeons5e" class="btn btn-primary visible-lg-block" target="_blank" data-type="reddit">
				<span class="fab fa-reddit-alien"></span>
			</a>
			<a href="https://www.twitter.com/giffyglyph" class="btn btn-primary" target="_blank" data-type="twitter">
				<span class="fab fa-twitter"></span>
			</a>
			<a href="https://www.facebook.com/giffyglyph/" class="btn btn-primary" target="_blank" data-type="facebook">
				<span class="fab fa-facebook-f"></span>
			</a>
			<a href="https://twitch.tv/giffyglyph/" class="btn btn-primary" target="_blank" data-type="twitch">
				<span class="fab fa-twitch"></span>
			</a>
			<a href="https://www.youtube.com/channel/UCplXj8GUnq1thw2bJQZRVxg" class="btn btn-primary" target="_blank" data-type="youtube">
				<span class="fab fa-youtube"></span>
			</a>
			<a href="https://www.patreon.com/giffyglyph" class="btn btn-primary btn-patreon" target="_blank" data-type="patreon">
				<span class="fab fa-patreon"></span>
			</a>
			<button data-toggle="modal" data-target="#modal-about" class="btn btn-primary" data-type="about">
				 <span class="fas fa-question"></span>
			</button>
			<button data-toggle="modal" data-target="#modal-settings" class="btn btn-primary" data-type="reddit">
				 <span class="fas fa-cog"></span>
			</button>
			<button class="btn btn-primary btn-menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				 <span class="fas fa-bars"></span>
			</button>
		</div>
	</div>
	<div class="app-header-navbar">
		<nav class="navbar navbar-expand-lg">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://www.reddit.com/r/darkerdungeons5e"><span class="fab fa-reddit-alien"></span>Reddit <span class="nav-link-detail">(r/darkerdungeons5e)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.twitter.com/giffyglyph"><span class="fab fa-twitter"></span>Twitter <span class="nav-link-detail">(@giffyglyph)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.facebook.com/giffyglyph"><span class="fab fa-facebook-f"></span>Facebook <span class="nav-link-detail">(giffyglyph)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://twitch.tv/giffyglyph"><span class="fab fa-twitch"></span>Twitch <span class="nav-link-detail">(giffyglyph)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.youtube.com/channel/UCplXj8GUnq1thw2bJQZRVxg"><span class="fab fa-youtube"></span>YouTube</a>
					</li>
					<li class="nav-item">
						<button data-toggle="modal" data-target="#modal-about" class="nav-link">
							<span class="fas fa-question"></span>About
						</button>
					</li>
					<li class="nav-item">
						<button data-toggle="modal" data-target="#modal-settings" class="nav-link">
							 <span class="fas fa-cog"></span>Settings
						</button>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="app-header-navigation">
		<div id="router-navigation" class="app-container"></div>
	</div>
</header>
<section class="app-body">
	<div id="router-breadcrumbs"></div>
	<div id="router-body" class="app-container"></div>
</section>
<footer class="app-footer">
	<div class="app-footer-copywrite">
		<div class="app-container">
			<div class="work">
				<h5>My Work</h5>
				<ul>
					<li><a href="https://giffyglyph.com/darkerdungeons/" data-type="darker-dungeons">Darker Dungeons</a></li>
					<li><a href="https://giffyglyph.com/monstermaker/" data-type="monster-maker">Monster Maker</a></li>
				</ul>
			</div>
			<div class="about">
				<h5>About</h5>
				<ul>
					<li><a href="mailto:giffyglyph@gmail.com">Contact</a></li>
					<li><a href="https://www.patreon.com/giffyglyph">Become a Patron</a></li>
				</ul>
			</div>
			<div class="links">
				<p><a href="https://www.reddit.com/r/darkerdungeons5e/" data-type="reddit"><span class="fab fa-reddit-alien"></span></a><a href="https://twitter.com/giffyglyph" data-type="twitter"><span class="fab fa-twitter"></span></a><a href="https://www.facebook.com/giffyglyph/" data-type="facebook"><span class="fab fa-facebook"></span></a><a href="https://twitch.tv/giffyglyph/" data-type="twitch"><span class="fab fa-twitch"></span></a><a href="https://www.youtube.com/channel/UCplXj8GUnq1thw2bJQZRVxg" data-type="youtube"><span class="fab fa-youtube"></span></a><a href="https://www.patreon.com/giffyglyph" data-type="patreon"><span class="fab fa-patreon"></span></a></p>
				<p>Giffyglyph's Monster Maker © 2019</p>
			</div>
		</div>
	</div>
</footer>
<div class="modals">
	<div id="modal-about" class="modal fade">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<span class="card-icon fas fa-question"></span> Giffyglyph's Monster Maker
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Welcome to <strong>Giffyglyph's Monster Maker</strong>! This webapp pairs with <strong><a href="https://drive.google.com/file/d/1Yrw0KYYndfheQkRzyYRbuRhMsY7ABOrW/view" target="_blank">GIFFYGLYPH'S MONSTER MAKER (PDF)</a></strong> to help you build basic monsters for D&D 5e <i>real fast</i>.</p>
					<p>Follow this project and my other works at <strong><a href="https://www.giffyglyph.com" target="_blank">giffyglyph.com</a></strong> or <strong><a href="https://www.reddit.com/r/darkerdungeons5e" target="_blank">reddit.com/r/darkerdungeons5e</a></strong>. If you have any feedback, please contact me at <strong><a href="https://www.twitter.com/giffyglyph" target="_blank">@giffyglyph</a></strong> or <strong><a href="mailto:giffyglyph@gmail.com" target="_blank">giffyglyph@gmail</a></strong>.</p>
					<div class="alert alert-default text-center">
						<p>If you like this tool and want to see it grow, help out by becoming a patron.</p>
						<p>
							<a href="https://www.patreon.com/bePatron?u=12684623" class="btn btn-secondary" target="_blank">
								<span class="card-icon fab fa-patreon"></span> Become a Patron!
							</a>
						</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<span class="fas fa-check"></span> Ok
					</button>
				</div>
			</div>
		</div>
	</div>
	<div id="modal-settings" class="modal fade">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<span class="card-icon fas fa-cog"></span> Settings
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Manage your user settings and data.</p>
					<div class="settings">
						<div class="setting">
							<div class="content">
								<div class="description">
									<p class="title">Default Theme</p>
									<p>Pick a theme for your monsters.</p>
								</div>
								<select class="form-control settings-theme">
									<option value="diamond">Diamond</option>
									<option value="giffyglyph">Giffyglyph</option>
									<option value="5e">5e</option>
									<option value="transparent">Transparent</option>
								</select>
							</div>
						</div>
						<div class="setting">
							<div class="content">
								<div class="description">
									<p class="title">Active Defence</p>
									<p>Use the <i>Active Defence</i> rules from <i>Giffyglyph's Darker Dungeons</i>.</p>
								</div>
								<select class="form-control settings-defence">
									<option value="disabled">Disabled</option>
									<option value="normal">Normal (+22)</option>
									<option value="small">Small (+12)</option>
								</select>
							</div>
						</div>
						<div class="setting">
							<div class="content">
								<div class="description">
									<p class="title">Wipe local data</p>
									<p>Delete all local, saved data.</p>
								</div>
								<button type="button" class="btn btn-secondary btn-wipe-data">
									<span class="fas fa-trash"></span> Wipe Data
								</button>
							</div>
							<div class="confirmation">
								<div class="description">
									<p class="title">Wipe local data</p>
									<p>Are you sure?</p>
								</div>
								<button type="button" class="btn btn-secondary btn-wipe-data-cancel">
									<span class="fas fa-times"></span> No
								</button>
								<button type="button" class="btn btn-secondary btn-wipe-data-confirm">
									<span class="fas fa-check"></span> Yes
								</button>
							</div>
							<div class="confirmed">
								<div class="description">
									<p class="title">Wipe local data</p>
									<p>Data wipe completed.</p>
								</div>
								<span class="fas fa-check-circle"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-save" data-dismiss="modal">
						<span class="fas fa-save"></span> Apply
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
