// Styles for dropdowns.

.dropdown {
	display: inline-block;

	.dropdown-item {
		padding-left: 0.75rem;
		padding-right: 0.75rem;

		.fas {
			margin-right: 0.75rem;
		}
	}

	.icon-only {

		&::after {
			display: none;
		}
	}
}

.dropdown-menu {
	border: 1px solid rgb(45, 49, 56);
	border-radius: .5rem;
	box-shadow: 0px 2px 5px 0px #505762bf;

	button {

		&:hover {
			cursor: pointer;
			background: rgba($theme-primary, 0.15);
			// color: white;

			.fas,
			.fab {
				color: $theme-primary;
			}
		}
	}

	.dropdown-item .fas {
		min-width: 1.1rem;
		text-align: center;
	}

	.dropdown-item.active,
	.dropdown-item:active {
		background: $theme-primary;
		color: $white;

		.fas,
		.fab {
			color: inherit;
		}
	}
}
