// Common variables

$app-width-desktop:   1200px; // Desktop up
$app-width-tablet:    800px; // Table up
$app-width-mobile:    533px; // Mobile up
$app-width-min:       300px;

$spacing-sm:          0.325rem;
$spacing:             0.75rem;
$spacing-lg:          1.25rem;
